{#
/**
 * @file common-text.html.twig
 * Default theme implementation to present the common text.
 *
 *
 * Available variables:
 * - text: Text with the common text value.
 *
 */
#}

<p>{{ text }}</p>